# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Playwright Test outputs
test-results/
playwright-report/

# Java
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp files
tmp/
*.tmp

# JetBrains
.idea/

# Coverage
coverage/

# Environment
.env
.env.local
.env.*.local
